@model IEnumerable<QuanLyDiem.Models.KetQua>

@{
    ViewBag.Title = "XemDiemTheoMaSv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XemDiemTheoMaSv</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemThi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.Ho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemThi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
