@model QuanLyDiem.Models.KhoaMon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhoaMon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Khoa.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongSoTietHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSoTietHoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { khoaId = Model.KhoaId, monHocId = Model.MonHocId }) |
    @Html.ActionLink("Back to List", "Index")
    
</p>
